@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "PT Sans";

  font-display: swap;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
}

@font-face {
  font-style: normal;
  font-weight: 700;
  font-family: "PT Sans";

  font-display: swap;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
  height: 100%;

  background-color: #f2f2f2;
}

img {
  max-width: 100%;
  height: auto;

  object-fit: cover;
  object-position: center;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  width: 1200px;
  margin: 0 auto;

  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  font-family: "PT Sans", sans-serif;
  color: #333333;

  background-color: #ffffff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  white-space: nowrap;

  border: 0;

  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}

.list-reset {
  margin: 0;
  padding: 0;

  list-style: none;
}

/* ОБЩИЕ СВОЙТСВА ДЛЯ КНОПОК И ССЫЛОК */

.button {
  display: inline-block;
  margin: 0;
  padding: 8px;

  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  font-family: inherit;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;

  background-color: #756157;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.button-light {
  background-color: #82b3d3;
}

.button-transparent {
  background-color: rgba(255, 255, 255, 0);
}

/* ОБЩИЕ ЗАГОЛОВКИ И ТЕКСТЫ */

.page-title {
  margin: 0;

  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
}

.page-text {
  margin: 0;

  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

/* ОБЩИЕ СВОЙТСВА ДЛЯ INPUT */

.form-input {
  width: 100%;
  height: 48px;
  padding: 12px 20px;

  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  font-family: inherit;
  color: #000000;

  background-color: #f2f2f2;
  border: 2px solid transparent;
  border-radius: 4px;
}

.form-input::placeholder {
  opacity: 0.6;
}

/* HEADER */

.header {
  position: relative;
  z-index: 1;
}

.page-nav {
  display: flex;
  flex-wrap: wrap;
  padding: 0 70px;
  align-items: center;
  }

.nav-logo {
  margin-right: 28px;
  margin-bottom: -6px;
}

.nav-list {
  display: flex;
  gap: 32px;
  flex-wrap: wrap;
  max-width: 610px;
  margin-right: auto;
}

.nav-link {
  position: relative;
  display: inline-block;
  padding: 20px 0 17px;

  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  text-decoration: none;
}

.nav-current::before {
  position: absolute;
  content: "";
  left: 0; right: 0;
  bottom: -1px;
  height: 2px;
  background-color: #756157;
}

.nav-button {
  margin-left: 24px;
}

.user-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
}

.user-link {
  position: relative;

  display: inline-block;
  width: 44px;
  height: 44px;

  text-decoration: none;

  background-repeat: no-repeat;
  background-position: center;
}

.user-link-search {
  background-image: url("../images/svg/search.svg");
}

.user-link-favorites {
  background-image: url("../images/svg/heart.svg");
}

.user-favorites-num {
  position: absolute;
  top: 2px;
  right: 0;

  display: inline-block;
  padding: 5px;

  font-size: 10px;
  line-height: 10px;
  text-align: center;
  color: #ffffff;

  background-color: #7db54f;
  border-radius: 10px;
}

.nav-button {
  width: 160px;
  padding: 8px;
}


/* MAIN */

.main {
  flex-grow: 1;
}

/* HERO */

.hero {
  position: relative;
  padding: 60px 70px;;

  text-align: center;
  color: #ffffff;

  background-color: #4d799b;
  background-image: url("../images/index-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.hero::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: -2px;
  left: 0;

  width: 100%;
  height: 57px;

  background-image: url("../images/vector-index-backgroung.svg");
  background-repeat: no-repeat;
}

.hero-image {
  display: block;
  width: 458px;
  height: 352px;
  margin: 0 auto;
}

/* ПРЕИМУЩЕСТВА */

.advantages-description {
  text-align: center;
  padding: 50px 70px;
}

.advantages-description-title {
  margin-bottom: 25px;
  width: 620px;
  margin: 0 auto;
}

.advantages-description-text {
  width: 651px;
  margin: 0 auto;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
}

.advantages-item {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-item:nth-child(2n) {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item-full {
  width: 100%;

  color: #ffffff;

  background-color: #82b3d3;
}

.advantages-container {
  display: flex;
  flex-wrap: wrap;
}

.advantages-item:last-child .advantages-image{
  order: -1;
}

.advantages-content {
  padding: 115px 85px 100px;
  width: 400px;
  min-height: 385px;

  text-align: center;
}

.advantages-container .advantages-content {
  padding-top: 105px;
}

.advantages-title {
  margin: 0 auto 30px;

  width: 182px;

  font-size: 24px;
  line-height: 28px;
  color: #000000;
  text-transform: uppercase;
}

.advantages-container .advantages-title {
  color: #ffffff;
}

.advantages-text {
  margin: 0;
}

.advantages-image {
  margin: 0;
}

.advantages-image img {
  display: block;
  width: 100%;
  height: 100%;
}

/* УСЛУГИ */

.services-description {
  padding: 64px 70px;
}

.services-description-title {
  width: 510px;
  margin: 0 auto 20px;
  }

.services-description-text {
  width: 510px;
  margin: 0 auto;
}

.services-list {
  display: flex;
  flex-wrap: wrap;
}

.services-item {
  background-color: rgba(131, 179, 211, 0.12);
}

.services-item:nth-child(2n) {
  background-color: #ffffff;
}

.services-content {
  width: 400px;
  min-height: 385px;

  padding: 183px 85px 81px;
  text-align: center;

  background-repeat: no-repeat;
  background-position: top 80px center;
}

.services-title {
  margin: 0 auto 30px;

  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.services-content-home {
  background-image: url("../images/svg/advantage-icon-house.svg");
}

.services-content-food {
  background-image: url("../images/svg/advantage-icon-food.svg");
}

.services-content-souvenirs {
  background-image: url("../images/svg/advantage-icon-souvenirs.svg");
}

/* ПОИСК */

.search {
  box-sizing: border-box;
  padding: 96px 70px;

  text-align: center;
}

.search-title {
  margin-bottom: 20px;
}

.search-text {
  margin-bottom: 54px;
}

.search-button {
  max-width: 376px;
  padding: 8px 50px;


  font-size: 20px;
  line-height: 36px;
}

/* РАССЫЛКА */

.subscribe {
  padding: 96px 70px 104px;
}

.subscribe-home {
  color: #ffffff;

  background-color: #4d799b;
  background-image: url("../images/catalog-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.subscribe-title {
  margin-bottom: 20px;
  }

.subscribe-text {
  margin-bottom: 54px;
}

.subscribe-home .subscribe-title {
  color: #ffffff;
}

.subscribe-form {
  display: flex;
  flex-wrap: wrap;
  width: 684px;
  margin: 0 auto;
}

.form-input::placeholder {
  opacity: 0.6;
}

.subscribe-input {
  width: 452px;
  height: 52px;

  border-radius: 4px 0 0 4px;
}

.subscribe-input::placeholder {
  font-weight: 400;
}

.subscribe-button {
  width: 232px;

  font-size: 20px;
  line-height: 36px;

  border-radius: 0 4px 4px 0;
}

/* CATALOG */

.filter {
  padding: 35px 70px;

  color: #ffffff;

  background-color: #4d799b;
  background-image: url("../images/catalog-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.catalog-title {
  margin: 0 0 7px;

  font-size: 60px;
  line-height: 78px;
}

/* ХЛЕБНЫЕ КРОШКИ */

.breadcrumbs-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 40px;
}

.breadcrumbs-item:not(:last-child) {
  position: relative;

  margin-right: 28px;
}

.breadcrumbs-item:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -17px;

  display: block;
  width: 7px;
  height: 10px;

  background-image: url("../images/svg/breadcrumbs-link-arrow.svg");
  background-repeat: no-repeat;
  transform: translateY(-50%);
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
  text-decoration: none;
}

.breadcrumbs-link-home {
  display: block;
  width: 13px;
  height: 15px;

  background-image: url("../images/svg/breadcrumbs-link-home.svg");
  background-repeat: no-repeat;
  background-position: center;
}

/* ФИЛЬТРЫ */

.filter-form {
  display: grid;
  grid-template-columns: auto auto 1fr auto;
  gap: 70px;
}

.filter-group {
  margin: 0;
  padding: 0;

  border: none;
}

.filter-title {
  display: flex;
  flex-wrap: wrap;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.filter-group-buttons {
  display: flex;
  gap: 32px;
  flex-direction: column;
}

.control-item {
  margin-bottom: 16px;
}

.control-label {
  font-size: 18px;
  line-height: 23px;
}

/* СОРТИРОВКА */

.sorting {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 30px 70px;
  }

.sorting-title {
  display: block;
  margin-right: auto;

  text-align: left;
}

.sorting-select {
  width: 292px;
  margin-right: 70px;
  padding: 5px;

  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  font-family: inherit;
  color: #333333;

  background-color: transparent;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
}

.sorting-view {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

/* ВИДЫ КАРТОЧЕК */

.view-link {
  display: block;
  width: 48px;
  height: 48px;

  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
}

.view-link-active {
  border-color: #000000;
}

.view-link-tile {
  background-image: url("../images/svg/view-tile.svg");
}

.view-link-slideshow {
  background-image: url("../images/svg/view-slideshow.svg");
}

.view-link-list {
  background-image: url("../images/svg/view-list.svg");
}

/* ОТЕЛИ */

.hotels {
  padding: 0 70px;
}

.hotels-list {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  padding-bottom: 40px;
}

.hotels-item {
  width: 340px;
  min-height: 438px;
  padding: 20px;

  border-radius: 4px;
  border: 1px solid #E6E6E6;
}

.hotels-item p {
  margin: 0;
}

.hotels-img {
  margin: 0;
}

.hotels-img img{
  display: block;
  width: 100%;
  height: 100%;
}

.hotels-link {
  color: #000000;
  text-decoration: none;
}

.hotels-title {
  margin: 0;

  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

.hotels-text + .hotels-text {
  text-align: right;
}

.hotels-favorites-active {
  background-color: #7db54f;
}

.hotels-rating-star {
  display: block;
  height: 37px;

  background-image: url("../images/svg/stars.svg");
  background-repeat: no-repeat;
  background-position: left center;
}

.hotels-rating-star-4 {
  width: 90px;
}

.hotels-rating-star-3 {
  width: 70px;
}

.hotels-rating-star-2 {
  width: 50px;
}

.hotel-rating {
  display: inline-block;
  padding: 10px;

  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;

  background-color: #f2f2f2;
  border-radius: 4px;
}

/* ПАГИНАЦИЯ */

.pagination-list {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  padding-top: 40px 0;
}

.pagination-link {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 60px;
  min-height: 60px;

  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  color: #ffffff;
  text-decoration: none;

  background-color: #82b3d3;
  border: 1px solid #82b3d3;
  border-radius: 4px;

  box-sizing: border-box;
  padding: 0 12px;
}

.pagination-link-current {
  color: #000000;

  background-color: #f2f2f2;
  border-color: transparent;

  pointer-events: none;
}

.pagination-link-more {
  font-size: 22px;
  line-height: 26px;
  color: #000000;

  background-color: transparent;
  border-color: transparent;
}

/* ФУТЕР */

.page-footer {
  display: flex;
  flex-wrap: wrap;
  padding: 30px 70px;
  align-items: center;
}

.social-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  max-width: 150px;
}

.phone {
  margin: 0 auto;

  font-size: 40px;
  line-height: 40px;
  text-align: center;
  color: #000000;
  text-decoration: none;
  }
