@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "PT Sans";

  font-display: swap;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
}

@font-face {
  font-style: normal;
  font-weight: 700;
  font-family: "PT Sans";

  font-display: swap;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
  height: 100%;
}

body {
  height: 100%;
  margin: 0;

  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  font-family: "PT Sans", sans-serif;
  color: #333333;

  background-color: #f2f2f2;
}

img {
  max-width: 100%;
  height: auto;

  object-fit: cover;
  object-position: center;
}


.wrapper {
  position: relative;

  display: flex;
  flex-direction: column;
  width: 1200px;
  min-height: 100%;
  margin: 0 auto;

  background-color: #ffffff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  white-space: nowrap;

  border: 0;

  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}

.list-reset {
  margin: 0;
  padding: 0;

  list-style: none;
}

/* ОБЩИЕ СВОЙТСВА ДЛЯ КНОПОК И ССЫЛОК */

.button {
  display: inline-block;
  margin: 0;
  padding: 8px;

  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  font-family: inherit;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;

  background-color: #756157;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.button:hover {
  background-color: #615048;
}

.button:focus {
  background-color: #615048;
  outline: #615048;
}

.button:active {
  background-color: #756157;
  color: rgba(255, 255, 255, 0.30);
 }

.button:disabled {
  background-color: #E5E5E5;
}

.button-light {
  background-color: #82b3d3;
}

.button-light:hover {
  background-color: #68A2CA;
}

.button-light:active {
  background-color: #82B3D3;
}

.button-light:disabled {
  background-color: #E5E5E5;
}


.hotels-favorites-active {
  background-color: #7db54f;
}

.hotels-favorites-active:hover {
  background-color: #6C9E42;
}

.hotels-favorites-active:active {
  background-color: #7db54f;
}

.hotels-favorites-active:disabled {
  background-color: #E5E5E5;
}

.button-transparent {
  background-color: rgba(255, 255, 255, 0);
}

.button-transparent:hover {
  background-color: rgba(255, 255, 255, 0);
}

.button-transparent:focus {
  background-color: rgba(255, 255, 255, 0);
  outline: 3px solid #83B3D3;
}

.button-transparent:active {
  color: rgba(255, 255, 255, 0.30);
}

.button-transparent:disabled {
  color: rgba(255, 255, 255, 0.30);
}


/* ОБЩИЕ ЗАГОЛОВКИ И ТЕКСТЫ */

.page-title {
  margin: 0;

  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
}

.page-text {
  margin: 0;

  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

/* ОБЩИЕ СВОЙТСВА ДЛЯ INPUT */

.form-input {
  width: 100%;
  height: 48px;
  padding: 12px 20px;

  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  font-family: inherit;
  color: #000000;

  background-color: #f2f2f2;
  border: 2px solid transparent;
  border-radius: 4px;
}

.form-input::placeholder {
  opacity: 0.6;
}

/* HEADER */

.page-header {
  position: relative;
  z-index: 1;
}

.page-nav {
  display: grid;
  grid-template-columns: auto 1fr auto auto;
  padding: 0 70px;
  align-items: center;
  }

.nav-logo {
  display: block;
  width: 140px;
  height: 70px;
  margin-right: 28px;
  margin-bottom: -6px;
}

.nav-list {
  display: flex;
  gap: 32px;
  flex-wrap: wrap;
  max-width: 610px;
}

.nav-link {
  position: relative;
  display: inline-block;
  padding: 20px 0 17px;

  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  text-decoration: none;
}

.nav-link:hover {
  color: #615048;
}

.nav-link:focus {
  border: #68A2CA;
  border-radius: 2px;
}

.nav-link:active {
  color: #756157;
}

.nav-current::before {
  position: absolute;
  content: "";
  left: 0; right: 0;
  bottom: -1px;
  height: 2px;
  background-color: #756157;
}

.user-list {
  display: flex;
  flex-wrap: wrap;
}

.user-link {
  position: relative;

  display: inline-block;
  width: 44px;
  height: 44px;

  text-decoration: none;

  background-repeat: no-repeat;
  background-position: center;
}

.user-link-search {
  background-image: url("../images/svg/search.svg");
}

.user-link-favorites {
  background-image: url("../images/svg/heart.svg");
}

.user-link-search:hover,
.user-link-favorites:hover {
  opacity: 0.6;
}

.user-link-search:focus,
.user-link-favorites:focus {
  opacity: 0.9;
}

.user-link-search:active,
.user-link-favorites:active {
  opacity: 0.3;
}

.user-favorites-num {
  position: absolute;
  top: 2px;
  right: 0;

  display: inline-block;
  padding: 5px;

  font-size: 10px;
  line-height: 10px;
  text-align: center;
  color: #ffffff;

  background-color: #7db54f;
  border-radius: 10px;
}

.nav-button {
  margin-left: 24px;
  width: 160px;
  padding: 8px;
}


/* MAIN */

.main {
  flex-grow: 1;
}

/* HERO */

.hero {
  position: relative;
  padding: 60px 70px;;

  text-align: center;
  color: #ffffff;

  background-color: #4d799b;
  background-image: url("../images/index-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.hero::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: -2px;
  left: 0;

  width: 100%;
  height: 57px;

  background-image: url("../images/vector-index-backgroung.svg");
  background-repeat: no-repeat;
}

.hero-image {
  display: block;
  width: 458px;
  height: 352px;
  margin: 0 auto;
}

/* ПРЕИМУЩЕСТВА */

.advantages-description {
  text-align: center;
  padding: 50px 70px;
}

.advantages-description-title {
  margin-bottom: 25px;
  width: 620px;
  margin: 0 auto;
}

.advantages-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.advantages-item {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-item:nth-child(2n) {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item-full {
  grid-column: 1 / -1;
  width: 100%;

  color: #ffffff;

  background-color: #82b3d3;
}

.advantages-item:last-child .advantages-image{
  order: -1;
}

.advantages-container {
  display: flex;
  flex-wrap: wrap;
}

.advantages-content {
  padding: 115px 85px 100px;
  max-width: 400px;
  min-height: 385px;

  text-align: center;
}

.advantages-container .advantages-content {
  padding-top: 105px;
}

.advantages-title {
  margin: 0 auto 30px;

  width: 182px;

  font-size: 24px;
  line-height: 28px;
  color: #000000;
  text-transform: uppercase;
}

.advantages-container .advantages-title::after {
  background-color: #ffffff;
}

.advantages-title::after {
  display: block;
  content: "";

  width: 60px;
  height: 2px;
  background-color: #000000;
  opacity: 0.3;
  margin: auto;
  margin-top: 30px;

}

.advantages-container .advantages-title {
  color: #ffffff;
}

.advantages-text {
  margin: 0;
}

.advantages-image {
  margin: 0;
}

.advantages-image img {
  display: block;
  width: 100%;
  height: 100%;
}

/* УСЛУГИ */

.services-description {
  padding: 64px 70px;
}

.services-description-title {
  width: 510px;
  margin: 0 auto 20px;
  }

.services-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.services-item {
  background-color: rgba(131, 179, 211, 0.12);
}

.services-item:nth-child(2n) {
  background-color: #ffffff;
}

.services-content {
  max-width: 400px;
  min-height: 385px;

  padding: 183px 85px 81px;
  text-align: center;

  background-repeat: no-repeat;
  background-position: top 80px center;
}

.services-title {
  margin: 0 auto 30px;

  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.services-content-home {
  background-image: url("../images/svg/advantage-icon-house.svg");
}

.services-content-food {
  background-image: url("../images/svg/advantage-icon-food.svg");
}

.services-content-souvenirs {
  background-image: url("../images/svg/advantage-icon-souvenirs.svg");
}

/* ПОИСК */

.search {
  padding: 96px 70px;

  text-align: center;
}

.search-title {
  margin-bottom: 20px;
}

.search-text {
  margin-bottom: 54px;
}

.search-button {
  max-width: 376px;
  padding: 8px 50px;


  font-size: 20px;
  line-height: 36px;
}

/* РАССЫЛКА */

.subscribe {
  padding: 96px 70px 104px;
}

.subscribe-home {
  color: #ffffff;

  background-color: #4d799b;
  background-image: url("../images/subscribe-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.subscribe-title {
  margin-bottom: 20px;
  }

.subscribe-text {
  width: 475px;
  margin: 0 auto;
  margin-bottom: 54px;
}

.subscribe-home .subscribe-title {
  color: #ffffff;
}

.subscribe-form {
  display: grid;
  grid-template-columns: 1fr auto;

  width: 684px;
  margin: 0 auto;
}

.subscribe-input {
  height: 52px;

  border-radius: 4px 0 0 4px;
}

.subscribe-input::placeholder {
  font-weight: 400;
}

.subscribe-button {
  width: 232px;

  font-size: 20px;
  line-height: 36px;

  border-radius: 0 4px 4px 0;
}

/* CATALOG */

.filter {
  padding: 35px 70px;

  color: #ffffff;

  background-color: #4d799b;
  background-image: url("../images/catalog-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.catalog-title {
  margin: 0 0 7px;

  font-size: 60px;
  line-height: 78px;
}

/* ХЛЕБНЫЕ КРОШКИ */

.breadcrumbs-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 40px;
}

.breadcrumbs-item:not(:last-child) {
  position: relative;

  margin-right: 28px;
}

.breadcrumbs-item:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -17px;

  display: block;
  width: 7px;
  height: 10px;

  background-image: url("../images/svg/breadcrumbs-link-arrow.svg");
  background-repeat: no-repeat;
  transform: translateY(-50%);
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
  text-decoration: none;
}

.breadcrumbs-link:hover {
  color: rgba(255, 255, 255, 0.6);
}

.breadcrumbs-link:active {
  color: rgba(255, 255, 255, 0.3);
}

.breadcrumbs-link-home {
  display: block;
  width: 13px;
  height: 15px;

  background-image: url("../images/svg/breadcrumbs-link-home.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.breadcrumbs-link-home:hover {
  opacity: 0.6;
}

.breadcrumbs-link-home:active {
  opacity: 0.3;
}

/* ФИЛЬТРЫ */

.filter-form {
  display: grid;
  grid-template-columns: auto auto 1fr auto;
  gap: 70px;
}

.filter-group {
  margin: 0;
  padding: 0;

  border: none;
}

.filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 32px;
}

.filter-group-buttons {
  display: flex;
  flex-direction: column;
}

.control-item:not(:last-child) {
  margin-bottom: 16px;
}

.control-label {
  padding-left: 1.2em;

  font-size: 18px;
  line-height: 23px;
}

.control-input {
  position: absolute;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

.control-input[type="checkbox"] {
  position: absolute;
  width: 20px;
  height: 20px;
  background-image: url("../images/svg/checkbox-off.svg");
  margin-left: -1.2em;
}

.control-input[type="checkbox"]:checked {
  background-image: url("../images/svg/checkbox-on.svg");
}

.control-input[type="radio"] {
  position: absolute;
  width: 20px;
  height: 20px;
  background-image: url("../images/svg/radio-off.svg");
  margin-left: -1.2em;
}

.control-input[type="radio"]:checked {
  background-image: url("../images/svg/radio-on.svg");
}


.catalog-filter-group {
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
  border: none;
}

.range-wrapper-inputs {
  display: flex;
  justify-content: start;
  margin-bottom: 36px;
}

.catalog-filter-label {
  display: flex;
  margin-right: 5px;
}

.range-input {
  width: 143px;
  text-align: justify;
  padding: 12px 20px;
  font: inherit;
  border: none;
}

.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.range-scale {
  position: relative;
  width: 287px;
  height: 4px;
  background-color: rgb(255, 255, 255, 0.3);
}

.range-bar {
  position: absolute;
  height: 4px;
  background-color: #ffffff;
}

.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  background: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.range-toggle:active {
  outline: 2px solid #68A2CA;
}

.range-toggle:focus {
   outline: 3px solid #68A2CA;
}

.toggle-min {
  top: -8px;
  left: -10px;
}

.toggle-max {
  top: -8px;
  right: -10px;
}

/* СОРТИРОВКА */

.sorting {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 30px 70px;
}

.sorting-title {
  margin-right: auto;

  text-align: left;
}

.sorting-select {
  width: 292px;
  margin-right: 70px;
  padding: 14px 20px;

  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  font-family: inherit;
  color: #333333;

  background-color: transparent;
  border: 2px solid #e5e5e5;
  border-radius: 4px;

  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;

  background-image: url("../images/svg/select.svg");
  background-repeat: no-repeat, repeat;
  background-position: right 20px top 50%, 0 0;
}

.sorting-select:hover {
  border: 2px solid #68A2CA;
}

.sorting-select:focus {
  border: 2px solid #68A2CA;
}

.sorting-select:disabled {
  border: 2px solid rgba(0, 0, 0, 0.30);
  color: rgba(0, 0, 0, 0.30);
}

.sorting-view {
  display: grid;
  gap: 8px;
  grid-template-columns: repeat(3, auto);
}

/* ВИДЫ КАРТОЧЕК */

.view-link {
  display: block;
  width: 48px;
  height: 48px;

  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
}

.view-link:hover {
  border-color: #000;
}

.view-link:focus {
  border-color: #68a2ca;
}

.view-link:active {
  border-color: #000;
}

.view-link-active {
  border-color: #000000;
}

.view-link-tile {
  background-image: url("../images/svg/view-tile.svg");
}

.view-link-slideshow {
  background-image: url("../images/svg/view-slideshow.svg");
}

.view-link-list {
  background-image: url("../images/svg/view-list.svg");
}

/* ОТЕЛИ */

.hotels {
  padding: 0 70px;
}

.hotels-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding-bottom: 40px;
  margin-bottom: 40px;
  border-bottom: 1px solid #E6E6E6;
}

.hotels-item {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px 20px;
  padding: 20px;

  border-radius: 4px;
  border: 1px solid #E6E6E6;
}

.hotels-item p {
  margin: 0;
}

.hotels-img {
  grid-column: 1 / -1;
  margin: 0;
}

.hotels-img img{
  display: block;
  width: 100%;
  height: 100%;
}

.hotels-link {
  grid-column: 1 / -1;
  color: #000000;
  text-decoration: none;
}

.hotels-title {
  margin: 0;

  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
 }

.hotels-text + .hotels-text {
  text-align: right;
}

.hotels-rating-star {
  display: block;
  height: 37px;

  background-image: url("../images/svg/stars.svg");
  background-repeat: no-repeat;
  background-position: left center;
}

.hotels-rating-star-4 {
  width: 90px;
}

.hotels-rating-star-3 {
  width: 70px;
}

.hotels-rating-star-2 {
  width: 50px;
}

.hotel-rating {
  display: inline-block;
  padding: 10px;

  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;

  background-color: #f2f2f2;
  border-radius: 4px;
}

/* ПАГИНАЦИЯ */

.pagination-list {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  padding-top: 40px 0;
}

.pagination-link {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 60px;
  min-height: 60px;

  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  color: #ffffff;
  text-decoration: none;

  background-color: #82b3d3;
  border: 1px solid #82b3d3;
  border-radius: 4px;

  padding: 5px;
}

.pagination-link:hover {
  background-color:#68A2CA;
}

.pagination-link:focus {
  background-color:#68A2CA;
}

.pagination-link:active{
  color:rgba(255, 255, 255, 0.30);
}

.pagination-link-current {
  color: #000000;

  background-color: #f2f2f2;
  border-color: transparent;

  pointer-events: none;
}

.pagination-link-more {
  font-size: 22px;
  line-height: 26px;
  color: #000000;

  background-color: transparent;
  border-color: transparent;
}

/* ФУТЕР */

.page-footer {
  display: grid;
  grid-template-columns: auto 1fr auto;
  padding: 30px 70px;
  align-items: center;
}

.social-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  max-width: 150px;
}

.social-icon{
  fill: #83B3D3;
}

.social-icon:hover {
  fill: #68a2ca;
}

.social-icon:focus {
  fill: #68a2ca;
  outline: #615048;
}

.social-icon:active {
  fill: rgba(104, 162, 202, 0.3);
}


.phone {
  margin: 0 auto;

  font-size: 40px;
  line-height: 40px;
  text-align: center;
  color: #000000;
  text-decoration: none;
  }

.phone:hover {
  color: #756157;
}

.phone:focus {
  color: #756157;
}

.phone:active {
  color: rgba(117, 97, 87, 0.3);
}

.footer-dev-icon {
  fill: #000000;
}

.footer-dev-icon:hover {
  fill: #756157;
}

.footer-dev-icon:focus {
  fill: #756157;
}

.footer-dev-icon:active {
  fill: rgba(117, 97, 87, 0.3);
}

/* МОДАЛЬНОЕ ОКНО */

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color:rgba(242, 242, 242, 0.8);
}

.modal {
  position: relative;
  border-radius: 30px;
  background-color: #ffffff;
  box-shadow: 0 25px 50px 0 rgba(0, 0, 0, 0.15);
  margin: auto;
  padding: 64px 70px;
}

.modal-search {
  width: 717px;
}

.modal-title {
  text-align: start;
  padding-bottom: 64px;
}

.modal-close-button {
  position: absolute;
  padding: 0;
  top: 64px;
  right: 52px;
  width: 52px;
  height: 52px;
  background-color: #F2F2F2;
  border-radius: 52px;
  border: none;
  background-image: url("../images/svg/close.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.modal-search-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  row-gap: 48px;
  column-gap: 88px;
}

.field-group {
  padding: 0;
  margin: 0;
}

.form-label {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  font-family: inherit;
  text-transform: capitalize;
}

.field {
  margin: 0;
  padding: 12px 20px;
  font: inherit;
  font-weight: 700;
  background-color: #F2F2F2;
  border: none;
  border-radius: 4px;
}

.modal-form-check-in {
  grid-column: 1 / -1;
}

.search-form-check-in,
.search-form-check-out {
  width: 440px;
}

.modal-form-check-out {
  grid-column: 1 / -1;
}

.search-button {
  grid-column: 1 / -1;
  justify-items: center;
  max-width: 577px;
}

.modal-container-close {
  display: none;
}
