body {
  width: 1200px;
  margin: 0 auto;

  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  background-color: #ffffff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  }

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

*,
*::before,
*::after{
  box-sizing: border-box;
}

html{
  box-sizing: border-box;
  background-color: #f2f2f2;
}

img{
  max-width: 100%;
  height: auto;

  object-fit: cover;
  object-position: center;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.list-reset{
  margin: 0;
  padding: 0;

  list-style: none;
}

.nav-link{
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  text-decoration: none;
}

.user-link{
  display:inline-block;
  text-decoration: none;
  width: 44px;
  height: 44px;
  background-repeat: no-repeat;
}

.user-link-search{
  background-image: url(../images/svg/search.svg);
}

.user-link-favorites{
  background-image: url(../images/svg/heart.svg);
}

.user-favorites-num{
  font-size: 10px;
  line-height: 10px;
  color: #ffffff;

  background-color: #7db54f;
  border-radius: 10px;
}

.button{
  display: inline-block;
  margin: 0;
  padding: 8px;

  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  font-family: "PT Sans", sans-serif;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color:#ffffff;
  border: none;

  background-color: #756157;
  border-radius: 4px;
  cursor: pointer;
}

.button-light{
  background-color: #82b3d3;
}


.hero{
  text-align: center;
  color:#ffffff;

  background-color:#4d799b;
  background-image: url("../images/vector-index-backgroung.svg"),
    url("../images/index-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: bottom, top;
}

.page-title{
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.advantages-title{
  font-style: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.advantages-text{
  font-size: 18px;
  line-height: 21px;
}

.services-content-home{
  background-image: url("../images/svg/advantage-icon-house.svg");
  background-repeat: no-repeat;
}

.services-content-food{
  background-image: url("../images/svg/advantage-icon-food.svg");
  background-repeat: no-repeat;
}

.services-content-souvenirs{
  background-image: url("../images/svg/advantage-icon-souvenirs.svg");
  background-repeat: no-repeat;
}

.services-title{
  font-style: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.services-text{
  font-size: 18px;
  line-height: 21px;
}

.subscribe{
  color:#ffffff;
  background-color: rgba(130, 179, 211, 1);
  background-image: url("../images/catalog-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.page-footer{
  color:#000000;
  background: #ffffff;
}

.phone{
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
  text-decoration: none;
  color:#000000;
}

.catalog-filter{
  color:#ffffff;
  background-color: rgba(130, 179, 211, 1);
  background-image: url("../images/catalog-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.filter-title{
  font-weight: 700;
  font-size: 60px;
  line-height: 70px;
}

.breadcrumbs-link-home{
  width: 13px;
  height: 15px;
  background-image: url("../images/svg/breadcrumbs-link-home.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.breadcrumbs-link{
  color:#ffffff;
  font-size: 16px;
  line-height: 21px;
  text-decoration: none;
}

.control-label{
  color:#ffffff;
  font-size: 16px;
  line-height: 21px;
}

.filtr-submit{
  font-size: 16px;
  line-height: 20px;
}

.hotels-title{
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: inherit;
  text-decoration: none;
}
